.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-center-vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.flex-center-horizontal {
    display: flex;
    justify-content: center;
    width: 100%;
}

.flexnoalign {
    display: flex;
    justify-content: center;
}
.flex-center-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
